MYSQL_DATABASE=todo_db
MYSQL_USER=todo_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

ConnectionStrings__DefaultConnection="server=localhost;port=3306;database=todo_db;user=todo_user;password=change_me;"
